<%-include('partials/header')-%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">뭔가 잘못됐군요.</h1>
    <p class="lead">무엇을 잘못했는지 곰곰히 떠올려봅시다. 다시 시도해보시겠어요?  </p>
  </div>
</div>
</body>