<%- include('partials/pricingheader.ejs'); -%>
       
        <!-- Title -->
        <div class="row title-row">
            <div class="col-lg-6 col-md-12">
                <h1>Meet new photo app nearby.</h1>
                <button type="button" class="btn btn-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="img/android.png" class="title-image" alt="android-mockup">
            </div>
            </div>
        </div>
    </section>
    <!-- Features -->
    <section id="features">
        <div class="row">
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-check fa-4x"></i>
                <h3>Easy to use.</h3>
                <p>So easy to use, don't even need tutorial.</p>
            </div>
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3>Elite Clientele</h3>
                <p>We have all the films, the greatest films.</p>
            </div>
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3>Free films.</h3>
                <p>Just watch one commercial ad and get free films.</p>
            </div>
        </div>
    </section>
    <!-- skills -->
   <section id="features2">
        <div class="row">
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-check fa-4x"></i>
                <h3>Easy to use.</h3>
                <p>So easy to use, even your dog could do it.</p>
            </div>
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-bullseye fa-4x"></i>
                <h3>Elite Clientele</h3>
                <p>We have all the dogs, the greatest dogs.</p>
            </div>
            <div class="feature-box col-lg-4 ">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3>Guaranteed to work.</h3>
                <p>Find the love of your dog's life or your money back.</p>
            </div>
        </div>
    </section>
    <section id="press" class="bg-light">
        <div>
            <img class="press-logo" src="img/firebase.png" alt="tc-logo">
            <img class="press-logo" src="img/aijs.png" alt="tnw-logo">
            <img class="press-logo" src="img/bootstrap.png" alt="biz-insider-logo">
            <img class="press-logo" src="img/ml5.png" alt="mashable-logo">
            <img class="press-logo" id="tensorflowlite" src="img/tensorflowlite.png" alt="mashable-logo">
        </div>
    </section>
    <!-- Pricing -->
    <section id="pricing">
        <h2>Get Vincent Willem van Gogh's masterpiece in your hands.</h2>
        <p>Simple and affordable price plans for your photograph.</p>
        <div class="row">
            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Chihuahua</h3>
                    </div>
                    <div class="card-body">
                        <h2>Free</h2>
                        <p>5 Matches Per Day</p>
                        <p>10 Messages Per Day</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Labrador</h3>
                    </div>
                    <div class="card-body">
                        <h2>$49 / mo</h2>
                        <p>Unlimited Matches</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="pricing-column col-lg-4 ">
                <div class="card">
                    <div class="card-header">
                        <h3>Mastiff</h3>
                    </div>
                    <div class="card-body">
                        <h2>$99 / mo</h2>
                        <p>Pirority Listing</p>
                        <p>Unlimited Matches</p>
                        <p>Unlimited Messages</p>
                        <p>Unlimited App Usage</p>
                        <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<footer class="footer-padding bg-light "> 
    <div class="footer_choice">
       <div class="footer_contents"> 
         <%-include('partials/footer.ejs');-%>
       </div>
    </div>
        
</footer>