<%-include('partials/header')-%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Awesome</h1>
    <p class="lead">성공! You've been successfully signed up! We will check your proposal(styles) and send you back! </p>
  </div>
</div>
</body>